html{
  font-size: 62.5%
}
* {
  margin:0;
  padding:0;
  text-decoration: none;
  list-style-type:none;
  user-select: none;
  
}
.App{
  box-sizing: border-box;
  overflow: hidden;
  width:100vw;
}
